  <div class="col-sm-10 form-group">
    <label class="control-label">Card Holder Name</label>
    {{input type="text" value=name class="form-control"}}
  </div>

  <div class="col-sm-10 form-group">
    <label class="control-label">
      Card Number
      <span id="cardNumberInfo" class="glyphicon glyphicon-info-sign {{api}}" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-title="{{card_number_info}}"></span>
    </label>
    {{input-credit-card-number number=number class="form-control col-xs-11" focus-in=attrs.card_number_field_focused }}
  </div>


  <div class="col-sm-5 form-group">
    <label class="control-label">CVV/CVN</label>
    {{input-credit-card-cvc id="cvv" cvc=cvc class="form-control"}}
  </div>

  <div class="col-sm-5 form-group">
    <label class="control-label">Card Expiry</label>
    {{input-credit-card-expiration id="expiry" month=month year=year class="form-control"}}
  </div>

  <div class="col-sm-5 form-group">
    <label for="total" class="control-label">
      Checkout Amount (euros)
      <span id="total-info" class="glyphicon glyphicon-info-sign {{api}}" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-title="{{total_info}}"></span>
    </label>
    {{input id="total" value=total class="form-control" step="0.01" type="number" focus-out="pad_totals" focusIn=attrs.purchase_amount_field_focused }}
  </div>

  <div class="col-sm-12">
  </div>

  <div class="col-sm-5">
    <div class="dropdown">
      <label for="currency-selection" class="control-label">Currency</label>
      <button id="currency-selection" class="btn btn-primary dropdown-toggle form-control" data-toggle="dropdown" value="{{currency}}">{{currency}} <span class="caret"></span></button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a {{action 'change_currency' 'EUR'}}>EUR</a></li>
        <li><a {{action 'change_currency' 'GBP'}}>GBP</a></li>
        <li><a {{action 'change_currency' 'USD'}}>USD</a></li>
        <li><a {{action 'change_currency' 'RUB'}}>RUB</a></li>
      </ul>
    </div>

  </div>

  <div class="col-sm-5 form-group">
    <label for="convertedTotal" class="control-label">Converted Amount</label>
    {{input id="convertedTotal" class="form-control" disabled="true" value=converted_total}}
  </div>

  <div class="col-sm-5 form-group">
    <label for="3dsecure" class="control-label">
      3D Secure
      <span id="3d-info" class="glyphicon glyphicon-info-sign {{api}}" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-title="{{three_d_info}}"></span>
    </label>
      <button id="3d-selection" class="btn btn-primary dropdown-toggle form-control" data-toggle="dropdown" value="{{3dsecure}}">{{three_d_display}} <span class="caret"></span></button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a {{action 'change_3dsecure' 0}}>Auth Only</a></li>
        <li><a {{action 'change_3dsecure' 1}}>3D Secure Flow</a></li>
      </ul>
  </div>

  <div class="col-sm-10">
    <button class="btn btn-primary btn-block" {{action (action submitPayment)}} disabled="{{if isValid "" "true"}}" style="line-height: 25px; margin-top:20px;"><span class="glyphicon glyphicon-lock"></span> Pay Safely</button>
  </div>
