<div class="col-xs-6">
  <h2>Checkout with
    <div class="pull-right">
      <input class="btn-shadow" id="toggle-provider" type="checkbox" data-on="Realex" data-off="Testing Pays" data-onstyle="danger" data-offstyle="success" checked data-toggle="toggle">
    </div>
  </h2>

  <hr>

  <div class="col-xs-8">
    {{credit-card-form number=number name=name month=month year=year cvc=cvc on-validate="validate"}}

    <div class="form-group">
      <label for="total" class="control-label">Total</label>
      {{input value=total class="form-control" step="0.01" type="number"}}
    </div>

    {{currency-dropdown updateCurrency=(action 'updateCurrency')}}

    <div class="form-group">
      <label for="total" class="control-label">Converted Total</label>
      <label class="control-label">{{convertedTotal}}</label>
    </div>

    <button class="btn btn-primary btn-block" {{action 'submitPayment'}} disabled={{disabled}}>Put a safe lock here</button>
  </div>
</div>
