{{#each responses as |response index|}}
  <div class="panel-group {{if (eq '00' response.result) "success" "error"}}">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a href="#R-{{index}}" data-toggle="collapse">Result Code : {{response.result}}</a>
          <span class="badge-{{response.api}}">{{response.api}}</span>
          <a href="#R-{{index}}" class="glyphicon glyphicon-triangle-bottom pull-right" data-toggle="collapse"></a>
        </h4>
      </div>

      <div id="R-{{index}}" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Message : {{response.message}}</p>
          <p>CVN Result : {{response.cvnresult}}</p>
          <p>Batch ID : {{response.batchid}}</p>
          <p>Auth Code : {{response.authcode}}</p>
          <p style="word-wrap:break-word;">
              {{response.xml}}
          </p>
        </div>
      </div>

    </div>
  </div>
{{/each}}
