<div class="product-container col-xs-4">
  <div class="image-header">
    <img style="width: 245px; height: 310px;" src="{{product.image}}" alt="" />
  </div>
  <div class="product-content">
    <h4>{{product.name}}</h4>
    Price: &euro; {{product.price}}
  </div>
  <div class="product-buttons">
    <button {{action 'addToCart' product}} class="btn btn-product btn-block">
      Add to cart
      <span class="glyphicon glyphicon-shopping-cart pull-right" aria-hidden="true"></span>
    </button>
  </div>
</div>


{{yield}}
