<div id="redirect-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">3D Secure Redirect</h4>
      </div>

      <div class="modal-body">
        You will be redirected to a simulation of Verified by Visa (3D Secure page).
        Typically at this stage you would input a passphrase, limits or some sort of a 2FA code to approve the transactions
        and verify your own identity. This redirect happens automatically on most sites with the following parameters:

      </div>

      <div class="modal-footer">
        <form method="{{redirect.method}}" action="{{redirect.url}}">
          {{#each-in redirect.data as |name value|}}
            {{#if value}}
              <input type="hidden" name="{{name}}" value="{{value}}">
            {{/if}}
            <input type="hidden" name="MD" value="{{merchant_data}}">
            <input type="hidden" name="TermUrl" value="{{term_url}}">
          {{/each-in}}
          <button type="submit" class="btn btn-default pull-left">Go to Bank Page</button>
        </form>
        <button type="button" class="btn btn-default dismiss" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
