<div id="cart" class="panel panel-default affix">
  <div class="panel-heading">
    <h3 class="panel-title">Your Cart</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Amount</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each-in cartSortedItems as |item value|}}
          <tr>
            <td>{{item}}</td>
            <td>{{value.amount}}</td>
            <td>{{value.price}}</td>
            <td><span {{action 'removeItem' value.id}} class="glyphicon glyphicon-minus pull-right remove-item" aria-hidden="true"></span></td>
          </tr>
        {{/each-in}}
        <tr>
          <td>Total</td>
          <td></td>
          <td>{{total}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
