<div class="panel panel-default affix">
  <div class="panel-heading">
    <h3 class="panel-title">Your Cart</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each cartItems as |item index|}}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><span style="color: red" {{action 'removeItem' item.id}} class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span></td>
          </tr>
        {{/each}}
        <tr>
          <td>Total</td>
          <td>{{total}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{yield}}
