<div class="container">
  <div class="row">
    <div class="col-xs-9">
      {{#each products as |product index|}}
        {{product-item product=product}}
      {{/each}}
    </div>

    <div class="col-xs-3">
    {{show-cart total=total}}
    </div>
  </div>
</div>

<div id="payment-section" class="payment-section col-xs-6 col-xs-offset-1">
  <div class="row">
    <div class="container">
      <div class="col-xs-8">

        {{credit-card-form
          name=name
          number=number
          month=month
          year=year
          cvc=cvc
          total=total
          currency=currency
          api=api
          submitPayment=(action "submitPayment")
          add_card=add_card}}

      </div>
    </div>
  </div>
</div>

<ul id="tabs" class="nav nav-tabs tabs-right sideways pull-right">
  <li class="active"><a {{action "open_side_menu"}} href="#api-requests" data-toggle="tab">API Requests</a></li>
  <li><a {{action "open_side_menu"}} href="#business-requests" data-toggle="tab">Business</a></li>
</ul>
{{#side-menu side="right" width="55%"}}
  <header class="navbar navbar-default side-menu-navbar">
    <span style="width: 75%" {{action "close_side_menu"}} class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </header>

  <div style="overflow: scroll; height: 90%" class="tab-content">

    <div class="tab-pane active responses" id="api-requests">
      <div class="col-xs-12">
        {{processor-response responses=responses}}
      </div>
    </div>

    <div class="tab-pane" id="business-requests">
      <div class="container">
        Second
      </div>
    </div>

  </div>
{{/side-menu}}

{{functional-response-modal
  functionalResponse=functionalResponse
  highlight=(action "highlight")
  change_currency=(action "change_currency")
  retry=(action "retry")
  }}

{{outlet}}
