<div class="container">

  <h2>Welcome to TestingPays Demo Store</h2>
  <hr class="content-container">

  <h3>Step 1: Select where you would like the to send the transaction</h3>
  <div class="content-container">
    <h4>Currently pointing at : <span class="{{api}}">{{currentApiText}}</span></h4>
    <br>
    <button {{action "swapAPI"}} class="btn btn-clear-primary btn-lg btn-{{if (eq api 'realex') 'testingpays' 'realex'}}">Switch to {{if (eq api 'realex') 'TestingPays' 'Realex'}}</button>
  </div>

  <h3>Step 2 : Complete the checkout form &amp; checkout</h3>
  <div class="content-container">
    <small>Don't worry these are NOT for real money</small>

    {{credit-card-form
      name=name
      number=number
      month=month
      year=year
      cvc=cvc
      total=total
      currency=currency
      api=api
      card_number_field_focused=(action "card_number_field_focused")
      purchase_amount_field_focused=(action "purchase_amount_field_focused")
      submitPayment=(action "submitPayment")
      add_card=add_card}}

  </div>
</div>

<div class="response-drawer">

  <ul class="nav nav-tabs tabs-right sideways pull-left">
    <li><a {{action "openMenu"}} href="#business-requests" data-toggle="tab">Tour Guide</a></li>
    <li><a {{action "openMenu"}} href="#api-requests" data-toggle="tab">Console</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active tour-guide" id="business-requests">
      <header class="navbar navbar-default">
        <span class="navbar-brand">Tour Guide</span>
        <span {{action "closeMenu"}} class="glyphicon glyphicon-log-out pull-right" aria-hidden="true"></span>
      </header>
      <p>
        Welcome to our Demo Store. We've built it to show how e-commerce sites can be used with our TestingPays simulator platform. You can switch the store to send transactions to our sim or to a real payment processor. In this case, we've chosen <a href="https://developer.realexpayments.com/#!/api">Realex</a>.
      </p>
      <hr>
      {{tour-bot-responses responses=tour_bot.tour_bot_responses}}
    </div>

    <div class="tab-pane console responses-tab" id="api-requests">
      <header class="navbar navbar-default">
        <span class="navbar-brand">API Console</span>
        <span {{action "closeMenu"}} class="glyphicon glyphicon-log-out pull-right" aria-hidden="true"></span>
      </header>
      <p>
        Fixed position blurb at top of the API Responses panel: Welcome to our Demo Store. This panel allows you to see and compare the raw API responses from both our TestingPays simulator and the real payment processor, in this case, <a class="testingpays" href="https://developer.realexpayments.com/#!/api">Realex</a>.
      </p>
      <hr>
      {{processor-response responses=responses}}
    </div>

  </div>
</div>

{{functional-response-modal
  functionalResponse=functionalResponse
  highlight=(action "highlight")
  change_currency=(action "change_currency")
  retry=(action "retry")
  }}

{{outlet}}
